<!-- begin resume -->
<section class="author__resume">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <h1>{{ site.data.settings.interventions.title }}</h1>
          <h2>{{ site.data.settings.interventions.ux }}</h2>
          <p>{{ site.data.settings.interventions.uxdescription }}</p>
          <ul>
            <li>{{ site.data.settings.interventions.prevoyant }}</li>
            <li>{{ site.data.settings.interventions.presses }}</li>
            <li>{{ site.data.settings.interventions.submerges }}</li>
            <li>{{ site.data.settings.interventions.renfort }}</li>
          </ul>
          <h2>{{ site.data.settings.interventions.designops }}</h2>
          <p>{{ site.data.settings.interventions.descriptionops }}</p>
          <ul>
            <li>{{ site.data.settings.interventions.workshop }}</li>
            <li>{{ site.data.settings.interventions.audit }}</li>
          </ul>
          </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end resume -->