<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__inner">

          <div class="author__left">
            <h1 class="author__name">{{ site.data.settings.author.title }}</h1>
            <p class="author__bio">{{ site.data.settings.author.bio | markdownify }}</p>
            <a href="{{ site.data.settings.linkedin }}">
              <button class="button button--middle" type="button">Travaillons ensemble </button> <!-- pour ajouter icône avion papier <i class="ion ion-ios-paper-plane" style="margin-left: 5px;"></i>-->
            </a>
            <!-- Bouton avec flèche vers le bas pour voir projets
            <a class="author__btn" href="#projects">
              <span class="circle-bg"><i class="ion ion-md-arrow-down button-arrow"></i></span> {{ site.data.settings.author.button__text }}
            </a>-->
          </div>

          <div class="author__right">
            <div class="author__image">
              <img class="lazy" data-src="{{ site.data.settings.author.image }}" alt="Photo d'{{site.author.name}}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->

<!-- begin clients -->
<section class="logo-section">
  <div class="logo-row">
    <a href="https://www.wewardapp.com/fr" target="_blank" rel="noopener noreferrer">
      <img src="/images/weward_large.png" alt="WeWard logo" class="company-logo">
    </a>
    <a href="https://www.keenest.co/" target="_blank" rel="noopener noreferrer">
      <img src="/images/keenest-logo.svg" alt="Keenest logo" class="company-logo">
    </a>
    <a href="https://www.peasup.org/" target="_blank" rel="noopener noreferrer">
      <img src="/images/peasup_logo.jpg" alt="Peas'Up logo" class="company-logo">
    </a>
    <a href="https://www.linkedin.com/company/le-temps-d-asheer/posts/?feedView=all" target="_blank" rel="noopener noreferrer">
      <img src="/images/letempsdasheer.png" alt="Asheer logo" class="company-logo">
    </a>
    <a href="https://www.qerapp.com/" target="_blank" rel="noopener noreferrer">
      <img src="/images/qera_logo.jpg" alt="Qera logo" class="company-logo">
    </a>
  </div>
</section>

{% include section-testimonials.html %}

<!-- begin resume -->
<section class="author__resume">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h1>{{ site.data.settings.author_info.resume_title }}</h1>
          <p>{{ site.data.settings.author_info.accueil }}</p>
          <p>{{ site.data.settings.author_info.benefits }}</p>

        <ul>
          <li>{{ site.data.settings.author_info.objective }}</li>
          <li>{{ site.data.settings.author_info.profile }}</li>
          <li>{{ site.data.settings.author_info.services }}</li>
          <li>{{ site.data.settings.author_info.product_type }}</li>
          <li>{{ site.data.settings.author_info.mission_duration }}</li>
          <li>{{ site.data.settings.author_info.companies }}</li>
          <li>{{ site.data.settings.author_info.languages }}</li>
          <li>{{ site.data.settings.author_info.area }}</li>
        </ul>
          <p>{{ site.data.settings.author_info.gift }}</p>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- end resume -->

<!-- begin quiz -->
<section class="author__quiz">
  <div class="container">
    <div class="row">
      <div class="col col-12">
          <p>{{ site.data.settings.author_quiz.description }}</p>

      </div>
    </div>
  </div>
</section>
<!-- end resume -->
