<!-- begin mecenat -->
<section class="mecenat">
    <div class="container author__resume">
      <div class="row">
        <div class="col col-12">
          <!-- Titre principal -->
          <h1>{{ site.data.settings.mecenat.title | markdownify }}</h1>
          
          <!-- Boucle sur les items -->
          {% for item in site.data.settings.mecenat.items %}
            <p>{{ item | markdownify }}</p> <!-- Display each item -->
          {% endfor %}
  
        </div>
      </div>
    </div>
  </section>
  <!-- end mecenat -->