<!-- begin clients -->
<section class="logo-section">
  <div class="logo-row">
    <a href="https://www.wewardapp.com/fr" target="_blank" rel="noopener noreferrer">
      <img src="/images/weward_large.png" alt="WeWard logo" class="company-logo">
    </a>
    <a href="https://www.keenest.co/" target="_blank" rel="noopener noreferrer">
      <img src="/images/keenest-logo.svg" alt="Keenest logo" class="company-logo">
    </a>
    <a href="https://www.peasup.org/" target="_blank" rel="noopener noreferrer">
      <img src="/images/peasup_logo.jpg" alt="Peas'Up logo" class="company-logo">
    </a>
    <a href="https://www.linkedin.com/company/le-temps-d-asheer/posts/?feedView=all" target="_blank" rel="noopener noreferrer">
      <img src="/images/letempsdasheer.png" alt="Asheer logo" class="company-logo">
    </a>
  </div>
</section>

