<!-- begin community -->
<section class="community">
    <div class="container author__resume">
      <div class="row">
        <div class="col col-12">
          <!-- Titre principal -->
          <h1>{{ site.data.settings.community.title | markdownify }}</h1>
          
          <!-- Boucle sur les items -->
          {% for item in site.data.settings.community.items %}
            <a href="{{ item.link }}" target="_blank" class="community-item">
              {% if item.logo %}
                <img src="{{ item.logo }}" alt="{{ item.name }}" class="community-logo">
              {% endif %}
              <div class="community-content">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
              </div>
            </a>
          {% endfor %}
  
        </div>
      </div>
    </div>
  </section>
  <!-- end community -->