<!-- begin testimonials -->
<section class="section testimonials">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="testimonials__slider my-slider">
          {% for testimonial in site.data.settings.testimonials.testimonials_items %}
            <div class="testimonial-item">
              <div class="testimonial-content">
                {% if testimonial.content %}
                  <p class="client-text">« {{ testimonial.content }} »</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- .tns-nav (dots) will be here -->
      </div>
    </div>
  </div>
</section>
<!-- end testimonials -->