/* Header */
body {
  margin-top: 80px; /* Ajuste cette valeur à la hauteur initiale de ton header */
}

.header {
  height: auto;
  transition: $global-transition;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  transition: padding 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
  padding: 10px 20px;
}

.header.compact {
  padding: 5px 10px; /* Réduit l'espacement interne */
  background-color: rgba(255, 255, 255, 0.9); /* Légère transparence */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour différencier du contenu */
}

.header .logo__image {
  max-height: 30px; /* Taille normale du logo */
  transition: max-height 0.3s ease; 
}

.header.compact .logo__image {
  max-height: 20px; /* Réduit la taille du logo quand le menu devient compact */
}

.header .nav__link {
  font-size: 16px;
  padding: 8px 10px; /* Espacement réduit par défaut */
  transition: font-size 0.3s ease;
}

.header.compact .nav__link {
  font-size: 12px; /* Réduction de la taille de la police pour un menu plus discret */
  padding: 4px 8px; /* Moins d'espacement dans le mode compact */
}

.header.compact .nav__link.cta-button {
  font-size: 10px; /* Réduction de la taille du bouton CTA dans le header compact */
  padding: 6px 10px; /* Moins d'espacement */
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* padding: 40px $base-spacing-unit;*/
  padding: 10px; /* ajuster les espaces selon le besoin */
  height: auto;
  min-height: 50px; /* Hauteur minimale du header réduit */
  justify-content: space-between;

.header.compact .header__inner {
   min-height: 35px; /* Hauteur minimale encore plus réduite quand compact */
 }

  @media only screen and (max-width: $desktop) {
    align-items: baseline;
  }

/*padding menu for mobile*/
  @media only screen and (max-width: $mobile) {
    padding: 16px $base-spacing-unit;
  }
}

/* Logo */
.logo__link {
  font-family: $heading-font-family;
  font-size: 24px;
  line-height: 26px;
  font-weight: 900;
  text-transform: uppercase;

  &:hover {
    color: $primary-color;
  }
}

.logo__image {
  max-height: 50px;
}

/* Nav */
.main-nav {
  margin-left: auto;

  @media only screen and (max-width: $desktop) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    background: $white;
    transition: all .25s ease;

    &.is-open {
      z-index: 999;
      opacity: 1;
      visibility: visible;
      transition: all .25s ease;
    }

    .nav__list {
      width: 100%;
      max-width: 360px;
      padding-left: 40px;

      .nav__item {
        display: block;
        margin: 0;

        &:last-child {
          margin-right: 0;
        }

        .dropdown-menu {
          position: relative;
          left: 0;
          padding: 0;
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          box-shadow: none;

          .nav__link {
            margin-left: 8px;
            margin-bottom: 16px;
            font-size: 15px;

            &::before {
              content: "– ";
            }

            &:last-child {
              margin-bottom: 24px;
            }
          }
        }

        .nav__link {
          display: block;
          padding: 0;
          margin-bottom: 24px;
          font-size: 18px;
          font-weight: 800;

          &:hover {
            background-color: inherit;
          }

          .arrow-down {
            display: none;
          }

          &.active-link {
            color: $primary-color;

            &::after {
              content: none;
            }
          }

          &.cta-button {
            margin-left: -4px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.main-nav__box {
  display: flex;
  align-items: center;

  .nav__icon-close {
    position: absolute;
    top: 20px;
    right: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba($primary-color, 0.08);

    &:hover {
      .ion-md-close {
        transform: rotate(90deg);
      }
    }

    .ion-md-close {
      color: $primary-color;
      transition: $global-transition;
    }
  }

  .nav__title {
    display: none;
  }

  @media only screen and (max-width: $desktop) {
    display: block;
    margin: 24px 0;

    .nav__icon-close {
      display: flex;
    }

    .nav__title {
      display: block;
      padding: 0 0 24px 40px;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 1;
      font-weight: 900;
      color: $heading-font-color;
      border-bottom: 1px solid $border-color;
    }
  }

  @media only screen and (max-width: $mobile) {
    .nav__icon-close {
      right: 30px;
    }
  }
}

.nav__list {

  .nav__item {
    display: inline-block;
    margin: 0 24px;

    &:last-child {
      margin-right: 0;
    }

    .nav__link {
      position: relative;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 1;
      font-weight: 800;
      cursor: pointer;

      &:hover {
        color: $primary-color;
      }

      &.active-link {

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -6px;
          transform: translateX(-50%);
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $primary-color;
        }
      }

      &.cta-button {
        display: inline-flex;
        font-size: 16px;
        padding: 16px 24px;
      }
    }

    &.dropdown {
      position: relative;

      .arrow-down {
        vertical-align: middle;
      }

      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    left: -32px;
    transform: translateZ(0) scale(0.9);
    backface-visibility: hidden;
    z-index: 100;
    min-width: 150px;
    display: block;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease;
    border-radius: 8px;
    box-shadow: 0px 20px 20px rgba($primary-color, 0.07);
    background-color: $white;

    .nav__link {
      display: flex;
      padding: 8px 12px;
      font-size: 15px;
      border-radius: 4px;
      will-change: transform;

      &:hover {
        background-color: rgba($primary-color, 0.07);
      }

      &.active-link {
        color: $primary-color;

        &::after {
          content: none;
        }
      }
    }
  }
}

.nav-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: $text-color;
  cursor: pointer;

  .nav__icon {
    transition: $global-transition;

    &:hover {
      color: $primary-color;
    }
  }

  .nav__icon-menu {
    display: none;
  }

  @media only screen and (max-width: $desktop) {
    margin-left: auto;

    .nav__icon-menu {
      display: block;
    }
  }
}