/* Color Scheme */
$primary-color: #15B392; /*avant #57cc99 */
$secondary-color: #73EC8B; /*avant #80ed99 */
$white: #fff;
$dark: #344e41;
$gray: #d9d9d9;
$light-gray: #f5f5f5;
$blue-gray: #333d29;
$dark-green: #008064;

$background-color: $white;
$background-color-alt: $white;

$text-color: $dark;
$text-color-alt: $blue-gray;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $primary-color;

$button-color: $background-color-alt;
$button-background-color: $primary-color;
$button-background-hover: darken($primary-color, 5%);

$border-color: #ededf3;

$hr-color: $text-color;
$tr-color: #f0f0f0;

$syntax-highlighting-background: #f3f3f3;